.filterCountry {
    position: relative;
    margin-left: auto;
}

.regions {
    &__default {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 56px;

        &::before {
            content: "";
            content: "";
            position: absolute;
            top: 20px;
            right: 18px;
            width: 6px;
            height: 6px;
            border: 2px solid;
            border-color: transparent transparent #000 #000;
            transform: rotate(-45deg);

        }

    }

    &__children {
        position: absolute;
    }

    ul {
        list-style-type: none;
        user-select: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 0;
        margin: 8px 24px;
        cursor: pointer;
    }
}


.filterBox {
    width: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;

    &:nth-of-type(2) {
        margin-top: 5px;
        padding: 1em 0;
    }
}


[data-theme='light'] {
    .filterBox {
        background: #FFFFFF;
    }

    .regions {
        &__default {
            &::before {
                border-color: transparent transparent #000 #000;
            }
        }
    }
}


[data-theme='dark'] {
    .filterBox {
        background: #2B3844;
    }

    .regions {
        &__default {
            &::before {
                border-color: transparent transparent #fff #fff;
            }
        }
    }
}
