.country {

    &__btn {
        margin-bottom: 40px;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
        gap: 50px;

        &__flag {
            width: 100%;
        }
    
        &__detail {
            display: flex;
            flex-direction: column;
            justify-content: center;

            
            &_list {
                li {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 32px;
    
                    span {
                        font-weight: 300;
                    }
                }
            }

        }
    
        &__name {
            margin: 0;
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 44px;
        }
    
        &__list_detail {
            column-count: 2;
    
            li {
                font-weight: 600;
                font-size: 16px;
                margin: 10px 0;
            }
    
            span {
                font-weight: 300;
            }
        }
    
        &__borders {
            margin-top: 2em;
        }
    }
}

.language {
    ~ {
        .language {
            &::before {
                content: ",";
            }
        }
    }
}

@media only screen and (max-width: 759px) {
    .country {
        &__inner { 
            display: block;
        }
    }
  }